body {
  background-image: url("./assets/imgs/bkg-avengers.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contaier-page {

}

.team-description {
  padding: 15px;
  width: 90%;
  margin: 20px auto;
  color: #fff;
}

.team-description h1 {
  text-align: center;
  color: #fff;
}

.container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  padding: 10px;
  margin: 20px auto;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 80%;
}

.card-img {
  /* border: 1px solid #63DC3E; */
  display: flex;
  height: 450px;
}

.card-img img {
  /* border: 4px solid #ddd;
  border-radius: 50%;
  width: 200px; */
  position: relative;
  width: 285px;
  outline: 2px solid #80F8C2;
  outline-offset: 8px;
}

.avenger-name {
  position: absolute;
  font-weight: 600;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}

.card-name {
  padding: 15px;
  background-color: #80F8C2;
  color: #694599;
  margin-left: 10px;
}

.card-stack {
  color: #80F8C2;
  margin-left: 50px;
}

.card-description {
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-left: 10px solid #80F8C2;
  margin-left: 8px;
  border-radius: 0 20px 20px 0;
}

.card-description dt {
  font-weight: bold;
  color: #68DA4A;
  margin-top: .5rem;
}

.card-description dd::before {
  content: '';
  display: block;
  width: 25px;
  height: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #68DA4A;
}

.card-description dd {
  margin: 0;
  font-size: 14px;
  color: #676C7F;
}